@import '_variables.scss';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #212529;
      color: white;
    }
  }

  button {
    border: none;
    background-color: white;
    border: 1px solid $border-light;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    min-width: fit-content;

}

input[type="text"], input[type="url"] {
  border: 1px solid $border-light;
  border-radius: $border-radius;
  box-sizing: border-box;
}

textarea {
  box-sizing: border-box;
    resize: none;
  border: 1px solid $border-light;
  border-radius: $border-radius;
}
